@{
    ViewData["Title"] = "About dwindlist";
}

<h1 class="mh-100 d-flex align-items-center justify-content-center pt-3">@ViewData["Title"]</h1>
<h3 class="mh-100 d-flex align-items-center justify-content-center text-muted">it's lists all the way down</h3>
<div class="mh-100 align-items-center justify-content-center container-fluid">
    <p class="mx-15 py-3" style="text-align: justify; text-justify: inter-word">
        dwindlist (stylized with a lowercase “d”) is a to-do list app aimed to help
        those who feel overwhelmed to complete even a single task. It encourages users to
        break down their tasks into smaller, more manageable tasks by allowing them to nest
        lists within lists down many levels.
    </p>
    <img class="mx-auto d-block" src="https://media.tenor.com/AevksXYvNlcAAAAd/shrimp-as.gif" style="max-width: 250px; height: auto;" />
</div>
<!--<div class="container-fluid mh-100 d-flex align-items-center justify-content-center pt-5">
    <h2>Who made this?</h2>
</div>-->
