html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 30px;
}

.logo-login {
    width: 200px;
    border-radius: 100%;
    border: 1px solid #eee;
}

.login-dwindlist {
    margin-top: 75px;
}

a {
    color: #88c0d0;
}

a:hover {
    color: #81a1c1;
}

a:link {
    text-decoration: none;
}

.form-control {
    background-color: #CEDAEC;
}

.col-md-11-5 {
    flex: 0 0 auto;
    width: 90%;
}

.btn-add {
    color: #fff;
    background-color: #5E81AC;
    border-color: #5E81AC;
}

.btn-dropdown {
    color: #fff;
    background-color: #8FBCBB;
    border-color: #8FBCBB;
}

.btn-focus {
    color: #fff;
    background-color: #88C0D0;
    border-color: #88C0D0;
}

.btn-edit {
    color: #fff;
    background-color: #81A1C1;
    border-color: #81A1C1;
}

.btn-delete {
    color: #fff;
    background-color: #BF616A;
    border-color: #BF616A;
}

.btn-cancel {
    color: #fff;
    background-color: #7D889D;
    border-color: #7D889D;
}

.btn-save {
    color: #fff;
    background-color: #5E81AC;
    border-color: #5E81AC;
}

.btn-search {
    color: #fff;
    background-color: #5E81AC;
    border-color: #5E81AC;
}

.nav-link-font {
    color: #00CBCB;
}

.mt-10 {
    margin-top: 8.5rem !important;
}

.my-10-5 {
    margin-top: 8.5rem !important;
    margin-bottom: 8.5rem !important;
}

.my-10 {
    margin-top: 5rem !important;
    margin-bottom: 5rem !important;
}

.mt-15 {
    margin-top: 11rem !important;
}

.pe-10 {
    padding-right: 10rem !important;
}

.px-10-5 {
    padding-right: 3rem !important;
    padding-left: 7rem !important;
}

.mt-10-5 {
    margin-top: 12rem;
}

.logo-login-1 {
    vertical-align: middle !important;
    text-align:left !important;
}

.ps-4-5 {
    padding-left: 10px ;
}

.mx-20 {
    margin-left: 20rem;
    margin-right: 20rem;
}

.mx-15 {
    margin-left: 15rem;
    margin-right: 15rem;
}

.mx-25 {
    margin-left: 26rem;
    margin-right: 26rem;
}